@model  WebGame.Models.Player
@{
    ViewBag.Title = "Index";
}
<div id="@Model.ControllerName">
    @Html.Partial("~/Views/OUAT/_OUATLobby.cshtml", Model)
</div>


@section scripts{
<script>
     var player = $.connection.oUATHub;
    if (!@Json.Encode(Model.IsConnecting)) {
        $.connection.hub.start().done(function () {
            var data = {};
            data["PlayerName"] = '@Model.PlayerName';
            data["ControllerName"] = '@Model.ControllerName';
            player.server.connectToHub(data).done();

            player.server.currentRoomList().done(function (response) {
                var data = eval(response.Data.data);
                JsGridRoomList(data);
            });
        });
    }
            //防止重複ConnectionId
    player.client.duplicateConnectionId = async function ()
    {
        window.location = '@Url.Action("Index","Home")';
        alert("重複Id,請再試一次");
    }
    player.client.getOnlinePlayerNumber = async function (num)
    {
        $('#onlinePlayerNum').text(num);
    }
        player.client.currentRoomList = async function (response)
        {
            if (response.Data.hasRoom != null && response.Data.hasRoom) {
                var data = eval(response.Data.data);
                JsGridRoomList(data);
            } else {
                var data = [];
                JsGridRoomList(data);
            }
    };

    function JsGridRoomList (data) {
        $.each(data, function (value, index) {
            this.TotalLimit_Str = this.PlayerList.length + "/" + this.TotalLimit;
        });
        $('#jsgrid_OUAT_Room').jsGrid("option", "data", data);
    }

    $("#jsgrid_OUAT_Room").jsGrid({
        width: "100%",
        autoload: false,
        paging: true,
        pageSize: 10,
        pageLoading: true,
        pagerContainer: "#jsgrid_OUAT_Room_Pager",
        data: [],
        rowClick: function (item) {
            $('#modal_lbRoomName').text(item.item.Name);
            $('#modal_lbTotalLimit').text(item.item.TotalLimit_Str);
            $('#jsgrid_PlayerList').jsGrid("loadData");
            $('#modal_divPlayerRoomDetail').modal('show');
        },
        fields: [
            { name: "Name", title: '房間名稱', type: "text", width: 60, align: "center" },
            { name: "TotalLimit_Str", title: '房間人數', type: "text", width: 40, align: "right" },
            {
                name: "Name", title: '進入房間',
                itemTemplate: function (value, item) {
                    var $result = $([]);
                    return jsGridTemplate.customButton(value, item, null, '進入').attr('class','btn btn-success');
                },
                width: 50, align: "center"
            },
        ],
        controller: {
            loadData: function (filter) {
                var d = $.Deferred();
                var rtn = $.ajax({
                    url: '@Url.Action("QueryForAdjustment", "Quotation")',
                    data: {
                        Pager: {
                            CurrentPageNumber: filter.pageIndex - 1,
                            PageSize: filter.pageSize,
                        },
                        ProjectName: $('#txtProjectName').val(),
                        ExamineeName: $('#txtExamineeName').val(),
                        IdNo: $('#txtIdentityCard').val(),
                        OtherIdType:$('#ddlOtherIdType').val(),
                        OtherIdNo :$('#txtOtherIdNo').val(),
                    }
                }).done(function (response) {

                    var data = eval(response.data);
                    d.resolve({
                        data: data,
                        itemsCount: response.itemsCount,
                    });
                    });
                return d.promise();
            }
        }
    });

</script>
}



